<div class="product-card" [routerLink]="['/details', product.productId]">
  <div class="card-img">
    <img [src]="product.imageUrl" [alt]="product.productName" loading="lazy">
    @if(product.promotionActive){
    <div class="promo-tag">PROMO</div>
    }

    @if(!product.inStock){
    <div class="stock-badge">Épuisé</div>
    }

  </div>
  <div class="card-body">
    <div class="card-shop">
      <span class="card-shop-name">{{ product.shopName }}</span>
      @if(product.distanceKm){
      <div class="card-dist">
        <ion-icon name="location-outline"></ion-icon>
        <span>{{ product.distanceKm | number:'1.1-1' }} km</span>
      </div>
      }

    </div>
    <h3 class="card-name">{{ product.productName }}</h3>
    <div class="card-footer">
      <div class="card-price-wrap">
        @if(product.promotionActive){
        <div class="card-old-price"><small>{{ product.price | customCurrency }}</small> </div>
        }
        <div class="card-price">
          <small>{{ (product.promotionActive ? product.promotionPrice : product.price) | customCurrency
          }}</small>
          </div>
      </div>
      <button class="add-btn" (click)="addToCart($event)" [disabled]="!product.inStock">
        <ion-icon name="cart-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>