<ion-content class="auth-page">

  <!-- HEADER -->
  <div class="auth-header">
    <button class="auth-back-btn" (click)="navCtrl.back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
  </div>

  <div class="auth-body">

    <h1 class="auth-title">Create account</h1>
    <p class="auth-sub">Join Central Market today</p>

    <!-- FORM -->
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <!-- FIRST NAME -->
      <div class="auth-field">
        <label>First name</label>
        <div class="input-box">
          <ion-icon name="person-outline"></ion-icon>
          <input type="text" formControlName="firstName" placeholder="John">
        </div>
      </div>

      <!-- LAST NAME -->
      <div class="auth-field">
        <label>Last name</label>
        <div class="input-box">
          <ion-icon name="person-outline"></ion-icon>
          <input type="text" formControlName="lastName" placeholder="Doe">
        </div>
      </div>

      <!-- USERNAME -->
      <div class="auth-field">
        <label>Username</label>
        <div class="input-box">
          <ion-icon name="at-outline"></ion-icon>
          <input type="text" formControlName="username" placeholder="johndoe">
        </div>
      </div>

      <!-- EMAIL -->
      <div class="auth-field">
        <label>Email</label>
        <div class="input-box">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" formControlName="email" placeholder="you@email.com">
        </div>
      </div>

      <!-- PHONE -->
      <div class="auth-field">
        <label>Phone number</label>
        <div class="input-box">
          <ion-icon name="call-outline"></ion-icon>
          <input type="text" formControlName="phoneNumber" placeholder="+237...">
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="auth-field">
        <label>Password</label>
        <div class="input-box">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" formControlName="password" placeholder="Min 6 characters">
        </div>
      </div>

      <!-- ERROR -->
      @if (errorMessage) {
        <div class="error-box">
          <ion-icon name="alert-circle-outline"></ion-icon>
          {{ errorMessage }}
        </div>
      }

      <!-- SUCCESS -->
      @if (successMessage) {
        <div class="success-box">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          {{ successMessage }}
        </div>
      }

      <!-- BUTTON -->
      <button type="submit" class="primary-btn" [disabled]="isLoading || registerForm.invalid">

        @if (!isLoading) {
          <span>Create account</span>
        } @else {
          <div class="spinner"></div>
        }

      </button>

    </form>

    <!-- LOGIN SWITCH -->
    <div class="switch">
      <span>Already have an account?</span>
      <button routerLink="/login">Sign in</button>
    </div>

  </div>

</ion-content>