<ion-content class="callback-theme">
  <div class="auth-container">
    
    <div class="animation-wrapper">
      <div class="pulse-ring"></div>
      <div class="icon-box">
        <i class="fa-solid fa-shield-halved"></i>
      </div>
    </div>

    <div class="status-text">
      <h1>Securing Session</h1>
      <p>Finalizing your credentials and connecting to CENTRAL MARKET  services...</p>
    </div>

    <div class="loader-wrapper">
      <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
    </div>

    <div class="security-note">
      <i class="fa-solid fa-lock"></i>
      <span>Secure Handshake</span>
    </div>

  </div>
</ion-content>