<div class="cart-header">
  <h1>Mon Panier</h1>
  <p>Vérifiez vos pépites avant de commander.</p>
</div>

<ion-content>

  @if (cartItems.length > 0) {

    <div class="cart-list">

      @for (item of cartItems; track item.productId) {

        <div class="cart-item">

          <div class="cart-item-img">
            <img [src]="item.imageUrl" [alt]="item.productName" />
          </div>

          <div class="cart-item-body">

            <h3 class="cart-item-name">
              {{ item.shopName }}
            </h3>

            <h3 class="cart-item-name">
              {{ item.productName }}
            </h3>

            <p class="cart-item-price">
              {{ (item.promotionPrice ?? item.price) | number:'1.0-0' }}
              <small>FCFA</small>
            </p>

            <div class="qty-row">

              <div class="qty-ctrl">

                <button class="qty-btn minus"
                        (click)="removeQty(item.productId)">
                  −
                </button>

                <span class="qty-val">
                  {{ item.quantity }}
                </span>

                <button class="qty-btn plus"
                        (click)="addQty(item)">
                  +
                </button>

              </div>

              <button class="del-btn"
                      (click)="removeItem(item.productId)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>

            </div>

          </div>
        </div>

      }

    </div>

  } @else {

    <div class="cart-empty">

      <div class="cart-empty-icon">
        <ion-icon name="cart-outline"></ion-icon>
      </div>

      <h3>Votre panier est vide</h3>

      <p>Votre panier attend vos pépites...</p>

      <button class="cart-empty-cta"
              (click)="goToCatalog()">
        Découvrir nos pépites
      </button>

    </div>

  }

</ion-content>

@if (cartItems.length > 0) {

  <div class="cart-footer">

    <div class="cart-total-row">

      <div>

        <div class="cart-total-label">
          Total Estimé
        </div>

        <div class="cart-total-val">
          {{ totalPrice | number:'1.0-0' }}
          <small>FCFA</small>
        </div>

      </div>

      <div class="cart-count-pill">
        <span>
          {{ cartItems.length }} Article{{ cartItems.length > 1 ? 's' : '' }}
        </span>
      </div>

    </div>

    <button class="checkout-btn" (click)="checkout()" >
      <span>Check my order</span>
      <div class="arrow-box">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>

    </button>

  </div>

}